p{
	font-size: 18px;
	font-family: "freight-text-pro", Georgia;
	line-height: 28px;
	text-align: left;
}

.graphic{
	width:100%;
	
}

.sidebar {
	position: relative;
	float: left;
	width: 250px;
	height: 500px;
	z-index: 100;
	margin-left: 50px;
	margin: 30px;
	background-color: black;
}

#BannerOne{
	width:100%;
	height: auto;
	position: fixed;
	top: 0px;
	z-index: -100;
}

.wrapOne{
	background-color: white;
	margin-top: 60%;
	width: 100%;
	height: auto;
	right:0;
	bottom:0;
	z-index: -100;
}

#TextOne{

	margin-left:30%;
	margin-right:20%;
}


#BannerTwo{
	width:100%;
	height: auto;
}


.wrapTwo{
	background-color: white;
	text-align: center;
	width: 100%;
}

#TextTwo{
	text-align: center;
	margin-left:30%;
	margin-right:20%;
}

#BannerThree{
	width:100%;
	height: 400px;
	background-color: black;
	background-image: url("image/placeholder3.jpg");
	background-size: cover;
	background-position: center;
}


.wrapThree{
	background-color: white;
	text-align: center;
	width: 100%;
}

#TextThree{
	text-align: center;
	margin-left:30%;
	margin-right:20%;
}

#wrapThreePhoto{
	height: 200px;
	position: relative;
	float: left;
	margin: 5%;
}


.BarrierOnePhoto{
	height:300px;
}

a {
	text-decoration: none;
	}

  
   

}

img {
	float:left;
}

.One{
	height: 300px;
	background-color: gray;
	border-radius: 5px;
	margin: auto;
	opacity:0.4;
	filter:alpha(opacity=40);
	width:100%;
	background-image: url("http://media-cache-ec0.pinimg.com/custom_covers/216x146/244461154712178429_1355086633.jpg");

	
}

.One:hover{
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.Two{
	width: 100%;
	height: 300px;
	background-color: blue;
	border-radius: 5px;
	margin: auto;
	opacity:0.4;
	filter:alpha(opacity=40);
	background-image: url("http://i.imgur.com/nSrNpOf.jpg");
}


.Two:hover{
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}









